* {
    font-family: 'Roboto', sans-serif;
}

.time {
    color: #AAAAAA;
    margin-left: 8px;
}

span {
    font-weight: bold;
    margin-right: 6px;
    margin-left: 6px;
}

p{
    word-break: break-all;
}

header {
    height: 80px;
    width: 375px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #ffffff;
    z-index: 2;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

header img {
    position: fixed;
    top: 16px;
    left: 22px;
    z-index: 3;
}

header ion-icon {
    position: fixed;
    left: 311px;
    top: 25px;
    color: black;
    z-index: 3;
    height: 31px;
    width: 42px;
}

footer {
    height: 80px;
    width: 375px;
    position: fixed;
    top: 587px;
    left: 0px;
    background-color: #ffffff;
    z-index: 2;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

input {
    position: fixed;
    width: 145px;
    height: 30px;
    left: 17px;
    top: 612px;
    z-index: 6;
    
}




::-webkit-input-placeholder {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #000000;

}



footer ion-icon {
    position: fixed;
    top: 614px;
    left: 331px;
    height: 26px;
    width: 26px;
    z-index: 3;
}

.caixa-principal {
    background-color: #e5e5e5;
    height: 495px;
    width: 375px;
    padding-top: 106px;
    overflow: hidden;
    
}

.mensagem-status {
    width: 375px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #DCDCDC;
    border-radius: 2px;
    margin-bottom: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
   
}

.mensagem-reservada {
    width: 375px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #ffdede;
    border-radius: 2px;
    margin-bottom: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
  
}

.mensagem-normal {
    width: 375px;
    padding-top: 5px;
    padding-bottom: 15px;
    background: #FFFFFF;
    border-radius: 2px;
    margin-bottom: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
   
}